* {
    background-color: transparent;
    border: medium none !important;
    color: #000000 !important;
    transform: scale(1);
}

body {
    background: #fff;
    color: #000;
    font-family: serif;
    font-size: 12pt;
    margin:0.5cm;
    padding: 0;
}
