body {
    background-image: url("../images/emirates_stadium.jpg");
    background-image: image-set(width="100em");
}
.jumbotron {
    background: #ffffff!important;
    opacity: .67;
    font-size: 64px;
    height: 150px;
}
h1 {
    padding-bottom: 40px;
}